.header-img{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.icon-bar {
    width: 90px; /* Set a specific width */
    border-radius: 15px;
    background-color: #0491aa; /* White background */
    float: left;
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: white; /* Add a hover color */
    color: #0491aa; /*Icon changes color on hover*/ 
  }  

h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}

.container{
  text-align: center;
}

.btn1{
  width: 300px;
  height: 50px;
  border: none;
  color: white;
  background-color: #0491aa;
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 darkgrey;
  transition: ease-out 0.4s;
  font-size:1.5rem;
  outline: none;
  cursor: pointer;
}

.btn1:hover{
  box-shadow: inset 300px 0 0 0 white;
  color: #0491aa;
}

body{
      background-color: darkgrey /*Site background color*/
  }
